USE [master]
GO
/****** Object:  Database [NexaWorksDB]    Script Date: 10/07/2024 17:23:31 ******/
CREATE DATABASE [NexaWorksDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexaWorksDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NexaWorksDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexaWorksDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NexaWorksDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexaWorksDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NexaWorksDB]
GO
/****** Object:  Table [dbo].[Problème]    Script Date: 10/07/2024 17:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problème](
	[ID_Problème] [int] NOT NULL,
	[Description] [text] NOT NULL,
	[Date_Création] [date] NOT NULL,
	[Date_Résolution] [date] NULL,
	[Statut] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Problème] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Problème_Version_OS]    Script Date: 10/07/2024 17:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problème_Version_OS](
	[ID_Problème] [int] NOT NULL,
	[ID_Version] [int] NOT NULL,
	[ID_OS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Problème] ASC,
	[ID_Version] ASC,
	[ID_OS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 10/07/2024 17:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[ID_Produit] [int] NOT NULL,
	[Nom] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Système_d_Exploitation]    Script Date: 10/07/2024 17:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Système_d_Exploitation](
	[ID_OS] [int] NOT NULL,
	[Nom] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 10/07/2024 17:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[ID_Version] [int] NOT NULL,
	[Numéro_Version] [varchar](50) NOT NULL,
	[ID_Produit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Problème_Version_OS]  WITH CHECK ADD FOREIGN KEY([ID_OS])
REFERENCES [dbo].[Système_d_Exploitation] ([ID_OS])
GO
ALTER TABLE [dbo].[Problème_Version_OS]  WITH CHECK ADD FOREIGN KEY([ID_Problème])
REFERENCES [dbo].[Problème] ([ID_Problème])
GO
ALTER TABLE [dbo].[Problème_Version_OS]  WITH CHECK ADD FOREIGN KEY([ID_Version])
REFERENCES [dbo].[Version] ([ID_Version])
GO
ALTER TABLE [dbo].[Version]  WITH CHECK ADD FOREIGN KEY([ID_Produit])
REFERENCES [dbo].[Produit] ([ID_Produit])
GO
USE [master]
GO
